.banner{
    position: 50px 130px 120px;
    text-align: center;
    background-size:cover;
    background-position: center;
.banner-content{
    max-width: 500px;
    text-align:center ;
    font-size: 25px;
}
/* main section styles */


/* offer section styles */
.section-content{
    text-align: center;
}

.section-offer{
    width:1600px;
    padding: 120px 380px;
    background: #fff;
    text-align: center;
}

.section-title{
    color: #F00;
font-size: 88px;
font-weight: 700;
}


