.celebration {
    position: 50px 130px 120px;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.banner {
    border: 4px solid greenyellow;
    position: absolute;
}

.content {
    position: relative;
    max-width: 500px;
    text-align: center;
    font-size: 25px;
}

.text {
    font-size: 30px;
}

/* main section styles */
.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer {
    background-position: center;
    border: 4px green solid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.offer img {
    width: 500px;
    height: 500px;
}

/* category section styles */
.section-offer {
    border: 2px solid red;
}

.section-content {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1600px;
    padding: 120px 380px;
    text-align: center;
    justify-items: center;
}

.section-title {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}

.welcome {
    background-image: url("../new-year-porto/images/Vectorrr.png");
}

/* place container */

.place-container {
    background-color: #ebd2d2;
    border: 4px solid blue;
    text-align: center;
    height: 250px;
    margin-bottom: 40px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    font-weight: 600px;
}

.btn-pri {
    color: #F00;
}
}

/*  comingSoon section */
.coming {
    margin: 20px;
    padding: 10px;
    gap: 70px;
}

.coming-Soon {
    display: flex;
    border: 10px solid aquamarine;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
}

.coming-title {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}


.coming-head {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.coming-description {
    color: #070211;
    font-size: 20px;
    font-weight: 400;

    /*holiday sale section */
    .holi-sale {
        background: #FFF;
        border: 8px solid greenyellow;
        text-align: center;
        height: 250px;
        margin-bottom: 40px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;

    }

    .holi-head {
        color: #070211;
        font-size: 24px;
        font-weight: 500;
    }

    .holi-title {
        color: #F00;
        text-align: center;
        font-size: 72px;
        font-weight: 900;
    }
    .holi-descrip{
    color: black
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
/* portfolio section */
.portfolio{
    border-radius: 20px;
    text-align: center;
}
.subscribe{
    border-radius: 16px;
    background: #FFF;
    text-align: center;
}